body {
	background-color: #aeaeae;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../images/cover_1.jpeg");
	font-family: Arial, Helvetica, sans-serif;
}

header h1
{
	text-align: center;
	background: linear-gradient(
            to right, #000000, #000000,
             #7162ec, #000000);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
	font-size: 4rem;
	height: 5.5vh;
}

.left{
	box-sizing: border-box;
	float: left;
	display: inline-block;
	text-align: center;
	line-height: 45px;
	padding-left: 50px;
	width: 30%;
	font-size: 36px;
	margin-right: 2%;
	height: 100vh;
}

.right
{
	box-sizing: border-box;
	float: right;
	width: 68%;
}


header nav a {
	text-decoration: none;
	display: block;
	border: black 2px solid;
	margin: 8%;
	border-radius: 50px;
	color: #aeaeae;
	transition: background-color 2s;
}

header nav a:hover
{
	background-color: #000000;
}
.active
{
	background-color: #ffffff;
}

section h2{
	font-size: 3rem;
}

section p {
	color: #0b22a2;
	font-size: 1.5rem;
	width: 65vw;
	/*background: linear-gradient( to right, #000000, #ff0000, #c16161, #9a5252);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;*/
	padding: 0.6rem;
	padding-left: 2rem;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.5);
}

ol li {
	font-size: 1.5rem;
	margin: 1rem;
}